[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
markdown-it-py = "*"
mdit-py-plugins = "*"
django-rest-framework = "*"
psycopg2-binary = "*"
gunicorn = "*"
djangorestframework = "*"
bleach = {version = "*", extras = ["css"]}
django-taggit = "*"
django-storages = { version = "*", extras = ["s3"] }
boto3 = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
