<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/archive/base.css' %}" media="screen">
    <title>CHS.org</title>
</head>

<body>
    {% include 'nav.html' %}
    {% include 'archive/aux_nav.html' %}
    
    <div class="layout">

        <div class="layout__wrapper">
            {% block content %}
            <aside class="content__filters">
                <ul>
                    <li>Subject</li>
                    <li>Type</li>
                    <li>Quality</li>
                </ul>
            </aside>

            <main class="content__doc">
                <nav class="doc__sort">
                    <ul>
                        <li>
                            <input class="sort__bar sort__search" type="text" maxlength="50" placeholder="search..."/>
                        </li>

                        <li>
                            <input class="sort__bar sort__order" type="text" maxlength="50" placeholder="order"/>
                        </li>

                        <li>
                            <input class="sort__bar sort__count" type="text" placeholder="count"/>
                        </li>

                        <li>
                            <button>V</button>
                        </li>
                    </ul>
                </nav>

                <div class="doc__move">
                    <a class="move__nav">&laquo;</a>
                    <a>1</a>
                    <a>2</a>
                    <a>3</a>
                    <span></span>
                    <a>38</a>
                    <a class="move__nav">&raquo;</a>
                </div>

                <article class="doc__articles">
                    <ul>
                        <li>Subject</li>
                        <li>Type</li>
                        <li>Quality</li>
                        <li>Subject</li>
                        <li>Type</li>
                        <li>Quality</li>
                    </ul>
                </article>
            </main>
            {% endblock %}
        </div>
    </div>

    <!-- <div class="container">

        <main class="main-content">
            <div class="pagination">
                <a href="#" class="arrow">&laquo;</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">35</a>
                <a href="#" class="arrow">&raquo;</a>
            </div>
            <div class="content-container">
                <div class="content-card">
                    <img src="image_placeholder.jpg" alt="Post Image" class="post-img">
                    <div class="post-info">
                        <h2 class="post-title">Biology Notes on the Human Body</h2>
                        <p class="post-pages">18 Pages</p>
                        <p class="post-description">bla bla boa bla bla bla blsdi fbao blasd fbla bodsfb</p>
                        <div class="post-details">
                            <span class="post-date">Oct 10, 2023</span>
                            <span class="post-hours-ago">4 hours ago</span>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div> -->

</body>

</html>