<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>content</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/wiki/base.css' %}" media="screen">
</head>

<body>
    {% load navigation %}
    {% primary_navbar selected_key="wiki" %}

    {% load wiki_navigation %}
    {% wiki_aux_navbar selected_key="browse" %}
    

    <div class="wrapper">
        {% block contents %}
        {% endblock %}
    </div>


    {% include 'footer.html' %}
</body>

</html>