<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/wiki/toc.css' %}" media="screen">
</head>

<aside id="doc__toc">
    <ul>
        <li class="toc__item selected" data-indent="0"><a class="toc__link" href="#"><b>(top)</b></a></li>
        {% for x in sections %}
            <li class="toc__item" data-indent="{{ x.level }}"><a class="toc__link" href="#{{ x.id }}"">{{ x.title }}</a></li>
        {% endfor %}

        <hr>

<!-- 
        <li class="toc__item" data-indent="0"><a class="toc__link" href="#"><b>Introduction</b></a></li>

        <li class="toc__item" data-indent="0"><a class="toc__link" href="#"><b>Welcome</b></a></li>

        <li class="toc__item" data-indent="1"><a class="toc__link" href="#"><b>Courses</b></a></li>

        <li class="toc__item" data-indent="2"><a class="toc__link" href="#"><b>Changing Courses</b></a></li>

        <li class="toc__item" data-indent="2"><a class="toc__link" href="#"><b>Credits</b></a></li>

        <li class="toc__item" data-indent="2"><a class="to_link" href="#"><b>Guidance Counsellors</b></a></li>

            
        <li class="toc__item" data-indent="0"><a class="toc__link" href="#"><b>Personality</b></a></li>

        <li class="toc__item" data-indent="1"><a class="toc__link" href="#"><b>Stress & Anxiety</b></a></li>

        <li class="toc__item" data-indent="1"><a class="toc__link" href="#"><b>Neurodivergency</b></a></li> -->
    
    </ul>
</aside>

<script src="{% static 'js/toc.js' %}"></script>