html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* doc */

.doc__content {
    flex-basis: 50%;
    padding: 0 0 5rem 1rem;
}

.doc__title {
    text-align: center;
}

@media (max-width: 750px) {
    .doc__wrapper {
        flex-direction: column;
    }
}

.doc__wrapper {
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    width: 70%; 
}

.section__title {
    color: var(--primary-color);
}