@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Sen:wght@400;600&family=Montserrat&display=swap');

.primary_nav {
    width: 100%;
    background-color: #3F464E;
    display: flex;
    font-family: 'Sen', Roboto, Ubuntu, sans-serif;
    justify-content: space-between;
}

.nav__logo {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding-right: 50px;
    font-family: 'Montserrat', Roboto, sans-serif;
}

.nav__categories {
    list-style: none;
    display: flex;
    margin: 10px 0;
}

.nav__item a {
    font-size: 17px;
    padding: 0px 20px;
    text-decoration: none;
    color: #D6D6D6;
}


.nav__item:hover a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.nav__item.selected a {
    font-weight: 500;
    color: #FFBF85;
}

.nav__socials {
    list-style: none;
    display: flex;
    margin: 10px 10px;
}

.nav__socials svg {
    fill: #D6D6D6;
}

.nav__socials svg:hover {
    fill: #6a88ec;
}


.nav__sign_up {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 20px;
}


.nav__sign_up:hover a {
    text-decoration: none;
}