/* css variables */
:root {
    --primary-color: #432E30;
    --secondary-color: #333333; /* New secondary color for contrast */
    --primary-color-light: #8E7474;
    --accent-color: #FE6A6B;
    --accent-color-light: #FFE4E4;
    --accent-color-dark: #B94B4C;
    --white-color: #FFFFFF;
    --light-gray-color: #E8E8E8;
    --medium-gray-color: #B0B0B0;
    --dark-gray-color: #666666;
    --black-color: #1e1f20;
    --bg-color: #F8F8FA;
    --link-color: rgb(76, 111, 216);
    --hover-opacity: 0.7;
}

/* general styling */

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }


hr {
    margin-bottom: 2rem;
    border: 0;
    border-bottom: 1px solid var(--medium-gray-color);
}

.wrapper {
    margin: 0 10%;
  
    padding: 3% 2%;  
    padding-left:200px;
    min-height: 70vh;
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

/* Improved text visibility */
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    background-color: var(--secondary-color);
    color: var(--black-color); 
    scroll-behavior: smooth;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    padding-left: 1.5rem;
}

p {
    color: var(--dark-gray-color);  
    margin-bottom: 1.2rem;
    padding-left: 1.5rem; 
}

a, a:hover {
    text-decoration: none;
    color: var(--accent-color);
    transition: color 0.3s, background-color 0.3s;
}
a:hover {
    color: var(--white-color); 
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
}